name: flutter_learning
description: A new Flutter application.

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  image_picker: ^0.4.6
  dio: ^1.0.6
  shared_preferences: ^0.4.2
  charts_flutter: ^0.5.0
  flutter_slidable: ^0.4.7
  flutter_html: ^0.7.1
  barcode_scan: ^0.0.7
  share: ^0.5.3
  path_provider: ^0.4.1
  open_file: ^1.1.0
  flutter_document_picker: ^1.1.3
  android_intent: ^0.2.1
  chewie: ^0.8.0
  event_bus: ^1.0.1
  fluttertoast: ^2.1.0
  flutter_webview_plugin: ^0.3.0+2
#  video_player: ^0.7.2

#  custom_chewie:
#    git: https://github.com/bostrot/chewie.git

  lottie_flutter:
    git:
      url: https://github.com/dnfield/lottie-flutter.git

dev_dependencies:
  flutter_test:
    sdk: flutter

#dependency_overrides:
#   http: ^0.12.0
# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  assets:
   - assets/
   - assets/images/
   - assets/json/
   - assets/file/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
